h1 {
  font-weight: 700px;
}

h2 {
  font-weight: 700px;
}

h3 {
  font-weight: 700px;
}

p {
  font-weight: 400px;
}

a {
  font-weight: 400px;
  text-decoration: none;
}

ul {
  list-style: none;
}
