/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- GLOBAL STYLES ----------------------- */

/* Add Universal selector later */

* {
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  /* background-color: grey; */
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}

h1 {
  text-align: center;
  font-size: 62px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

/* p,
a,
.small-text {
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
} */

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

.small-text {
  font-size: 12px;
}

/* ----------------------- COMPONENTS ----------------------- */

.btn {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
}

.btn-primary:link,
.btn-primary:visited {
  color: #ffffff;
  background-color: #339af0;
}

.btn-primary:hover,
.btn-primary:active {
  color: #ffffff;
  background-color: #1c7ed6;
}

.btn-secondary:link,
.btn-secondary:visited {
  color: #ffffff;
  background-color: #9775fa;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: #ffffff;
  background-color: #7048e8;
}

.highlight {
  color: #ffffff;
  padding: 5px 10px;
}

.highlight-primary {
  background-color: #339af0;
}

.highlight-secondary {
  background-color: #9775fa;
}

.highlight-tertiary {
  background-color: #ff922b;
}

.logo-md {
  width: 100px;
}

.logo-sm {
  width: 80px;
}

/* ----------------------- SECTIONS ----------------------- */
/* ----------------------- HERO SECTIONS ----------------------- */
.hero-section {
  text-align: center;
}

/* ----------------------- FEATURES SECTIONS ----------------------- */
.feature-main-heading {
  text-align: center;
}

.feature-img {
  width: 400px;
}
/* ----------------------- CTA SECTIONS ----------------------- */

/* .cta-section {
  text-align: center;
} */

.cta-card {
  text-align: center;
  background-color: #339af0;
  width: 1000px;
  padding: 100px 200px;
}

/* ----------------------- FOOTER ----------------------- */

.footer {
  text-align: center;
}

.social-icon {
  width: 20px;
}

/* ----------------------- TEST ----------------------- */
#test::after {
  content: "*Beta";
  vertical-align: super;
  color: purple;
  font-weight: 700;
  font-style: italic;
  font-size: 8px;
}
