* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  width: 90vw;
  height: 90vh;
  margin: 30px auto;
}

.container {
  /* background-color: purple; */

  background-color: lightblue;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px 100px;
  font-size: 80px;
  width: 500px;
  height: 500px;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
}

.box-1 {
  background-color: blue;
  border: 2px solid black;
}
.box-2 {
  background-color: red;
  border: 2px solid black;
  grid-row: 1 / 3;
  grid-column: 2/3;
}
.box-3 {
  background-color: blue;
  border: 2px solid black;
}
.box-4 {
  background-color: red;
  border: 2px solid black;
  /* align-self: baseline; */
}
.box-5 {
  background-color: blue;
  border: 2px solid black;
  /* align-self: stretch; */
}
