* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

.container {
  /* background-color: purple; */

  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr 4fr 2fr;
}

.box-1 {
  background-color: blue;
  font-size: 10px;
  /* border: 2px solid black; */
}
.box-2 {
  background-color: red;
  font-size: 10px;
  /* border: 2px solid black; */
}
.box-3 {
  background-color: blue;
  font-size: 50px;
  /* border: 2px solid black; */
}
.box-4 {
  background-color: red;
  font-size: 10px;
  /* border: 2px solid black; */
}
.box-5 {
  background-color: blue;
  font-size: 10px;
  /* border: 2px solid black; */
}
