* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: purple; */
  max-width: 1000px;
  max-height: 1000px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 30vw;
  min-height: 30vw;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 300px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}

img {
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 75px;
}

a > img {
  height: 15px;
  width: 15px;
}

.logo {
  display: flex;
  gap: 1px;
}
