* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  /* width: 90vw;
  height: 90vh; */
  margin: 30px auto;
}

.container {
  /* background-color: purple; */

  background-color: lightblue;

  font-size: 80px;
  width: 700px;
  height: 1400px;
  margin: 100px 200px;
  /* position: relative; */
}

.box-1 {
  background-color: lightcoral;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  /* position: sticky;
  top: 0px;
  left: 70px; */
}
.box-2 {
  background-color: lightgreen;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  position: relative;
  /* z-index: 2; */
  /* bottom: 0px;
  right: 0px; */
  left: 30px;
  top: 40px;
}
.box-3 {
  background-color: lightpink;
  border: 2px solid black;
  height: 250px;
  width: 250px;
  position: relative;
}
.box-4 {
  background-color: lightslategray;
  border: 2px solid black;
  /* align-self: baseline; */
}
.box-5 {
  background-color: lightyellow;
  border: 2px solid black;
  /* align-self: stretch; */
}

.box-6 {
  background-color: lightseagreen;
  border: 2px solid black;
  /* align-self: stretch; */
}
