.container {
  /* background-color: purple; */
  max-width: 80vw;
  max-height: 80vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 30vw;
  min-height: 30vw;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: purple;
}

.box-3 {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.box-4 {
  width: 200px;
  height: 200px;
  background-color: purple;
}
