/* LG - SMALL LAPTOPS: 1024PX -1280 PX */

@media (max-width: 72rem) {
  /* 1150px /16px = 72rem  */
  /* 72rem *16px = 1152px */
  html {
    font-size: 56.25%;
    /* 9px/16px = 56.25% */
  }

  .features-grid-container {
    column-gap: 2rem;
  }

  .cta-section {
    margin-bottom: 20rem;
  }
}

/* mD TABLET : 768PX -1024PX */
@media (max-width: 60rem) {
  /* 815px/16px = 51rem round */
  /* 51rem * 16px = 816px */

  html {
    font-size: 50%;
    /* 8px/16px = 50% */
  }
}

/* SM PHONE LANDSCAPE : 768PX -1024PX */
@media (max-width: 43rem) {
  /* 680px/16px = 43 rem */
  /* 43rem * 16px = 688px */
  html {
    font-size: 43.75%;
    /* 7px/16px = 43.75% */
  }

  .cta-card {
    padding: 8rem 16rem;
  }

  .features-section {
    margin-bottom: 20rem;
  }

  .features-grid-container {
    row-gap: 5rem;
    column-gap: 0.5rem;
  }
}

/* XS PHONE PORTRAIT < 576PX */

@media (max-width: 34rem) {
  /* 530px/16px = 34 rem */
  /* 34rem * 16px = 544PX */
  html {
    font-size: 37.5%;
    /* 6px/16px = 37.5% */
  }

  .hero-heading-break {
    display: none;
  }
  .hero-section {
    height: auto;
  }

  .features-grid-container {
    row-gap: 2rem;
    column-gap: 0.2rem;
    grid-template-columns: 1fr;
  }
  .feature-img-swap-order {
    grid-row: auto;
    grid-column: auto;
  }

  .cta-card {
    padding: 2rem 4rem;
  }
}
